
@font-face {
    font-family: 'Cako';
    src: url('../fonts/Cako-Regular.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face{
    font-family: 'Super Gothic';
    src: url('../fonts/SuperaGothic-Book.otf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face{
    font-family: "Inter", sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Platypi:ital,wght@0,300..800;1,300..800&family=Special+Elite&display=swap" rel="stylesheet');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
